[submodule "external/dotfiles"]
	path = external/dotfiles
	url = https://github.com/sz3kz/dotfiles.git
[submodule "cmake_tools"]
	path = external/cmake-tools
	url = https://github.com/sz3kz/dotfiles.git
